		html,body{
			width: 100%;
			height: 100%;
		}
		body{
			background: #f5f6f8;
		}
		.wrap{
			border-top: 1px solid #f5f6f8;
			width: 100%;
			height: 100%;
			box-sizing: border-box;
		}
		.wrap .wrap-content{
			min-height: 100%;
		}
	
		.wrap .wrap-content .wrap-inner{
			width: 100%;
			padding-bottom: 50px;
			text-align: center;
		}
	/*......................................................................................*/
		.wrap .wrap-content .wrap-inner > img{
			width: 130px;
			height: 99px;
			padding-top: 40px;
		}
		.wrap .wrap-content .wrap-inner .company-img{
			width: 171px;
			height: 98px;
		}
	/*.................................................................*/
		.wrap .wrap-content .wrap-inner .information,.wrap .wrap-content .wrap-inner .information .in-ul{
			width: 100%;
			background: #ffffff;
		} 
	/*.............................................................*/
		.ul-margin{
			width: 100%;
			height: 10px;
			background: #f5f6f8;
		}
	/*......................................................................*/
		.wrap .wrap-content .wrap-inner .information .in-ul .in-li{
			width: 92%;
			margin: 0 auto;
			text-align: left;
			line-height: 50px;
			font-size: 16px;
			overflow: hidden;
		}
		.wrap .wrap-content .wrap-inner .information .in-ul .in-li:not(:last-child){
			border-bottom: 1px solid #e6e6e6;
		}
		.wrap .wrap-content .wrap-inner .information .in-ul .in-li span{
			display: inline-block;
			width: 27%;
			height: 100%;
			float: left;

		}
		.wrap .wrap-content .wrap-inner .information .in-ul .in-li input,.wrap .wrap-content .wrap-inner .information .in-ul .in-li select{
			display: inline-block;
			width: 73%;
			height: 50px;
			float: right;
			color:#999999;
			background: transparent;
		}
		select,input{
			appearance:none; 
			-moz-appearance:none; /* Firefox */ 
			-webkit-appearance:none !important; /* Safari 和 Chrome */
		}
	
		.arrow{
			background: url('../img/Rectangle.png') no-repeat 100% 50%;
			background-size: 8px 14px;
		}
		.wrap .wrap-footer{
			background: #ff4c4c;
			line-height: 50px;
			text-align: center;
			font-size:16px;
		}
		.wrap .wrap-footer a{
			color: #ffffff;
		}
		.wrap .wrap-footer{
			margin-top: -50px;
		}