<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport" content="width=375, user-scalable=no,target-densitydpi=device-dpi,minimum-scale=0.5,maximum-scale=2.0">
	<title>找回密码</title>
	<link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/loginRegister.css">
</head>
<body>
	<div class="wrap">
		<div v-show="alertbol" class="alert-box">{{ msg }}</div>
        <div class="wrap-content">
            <div class="wrap-content-inner">
				<img src="img/login/logo.png" alt="">
				<ul class="ul">
					<li class="clear">
						<span class="left">
							<img src="img/login/password.png" alt="">
						</span>
						<input v-model="password" v-show="!passwordshow" type="password" placeholder="输入新的登录密码">
						<input v-model="password" v-show="passwordshow" type="text">
                        <div class="passShow1">
                            <img v-on:click="change" v-show="!passwordshow" src="img/login/passwordhide.png" alt="">
                            <img v-on:click="change" v-show="passwordshow" src="img/login/passwordshow.png" alt="">
                        </div>						
					</li>
                    <li class="clear">
                        <span class="left">
                            <img src="img/login/iphone.png" alt="">
                        </span>
                        <input v-model="tel" type="number" placeholder="输入注册手机号码">
                    </li>
					<li class="clear">
						<span class="left">
                            <img src="img/login/VerificationCode.png" alt="">
                        </span>
                        <input v-model="code" type="text" placeholder="请输入短信验证码">	
                        <span v-show="get_bol" v-on:click="getcode" class="right">获取验证码</span>	
                        <span v-show="six_bol" class="right">{{ num }}后重新获取</span>				
                        <span v-show="reget_bol" v-on:click="reget" class="right">重新获取</span>	
					</li>
				</ul>
				<div class="errtips">
					<!-- <p class="hide">手机号或密码填写错误，请重新填写</p> -->
				</div>
				<div v-on:click="submit" class="submit">
                    <!-- <a href="login.html"> -->
                        完成
                    <!-- </a>					 -->
				</div>
                <!-- <p class="already">
                    <a href="login.html">已有账号？去登录</a>    
                </p> -->
            </div>           
        </div>
        <div class="wrap-footer">
			<img class="youmiImg" src="img/login/youmi.png" alt="">
			<p>上市公司、互联网金融专项基金战略入股</p>
        </div>
    </div>
</body>
<script type="text/javascript" src="js/vue.js"></script>
<script type="text/javascript">
var vm = new Vue({
	el:'.wrap',
	data:{
		msg:'',
		alertbol:false,
		tel:'',
		tel_bol:false,
		password:'',
		code:'',
		password_bol:false,
		passwordshow:false,
		get_bol:true,
		six_bol:false,
		reget_bol:false,
		num:60
	},
	created:function(){
		this.a='bbbbbb'
	},
	methods:{		
		change:function(){
			if (!this.password.trim()) {
				return
			}
			this.passwordshow = !this.passwordshow
		},
		getcode:function(){
			this.get_bol = false;
			this.six_bol = true;
			var that = this;
			this.countDown(60,function(){
				that.six_bol = false;
				that.reget_bol = true;
			})
		},
		reget:function(){
			var that = this;
			this.six_bol = true;
			this.reget_bol = false;
			this.countDown(60,function(){
				that.six_bol = false;
				that.reget_bol = true;
			})
		},
		submit:function(){
			if (this.passwordshow) {
				return;
			}
			if (!this.password_bol) {
				this.msg = "密码不符合要求!";
				this.timer(50);
				return;
			}
			if (!this.tel_bol) {
				this.msg = "电话号码有误!";
				this.timer(50);
				return;				
			}
			if (this.code != '1111') {
				this.msg = "验证码错误！";
				this.timer(50);
				return;
			}
			location.href = "login.html"
		},
		timer:function(n){
			var that = this;
			this.alertbol = true
			var timer = setInterval(function(){
				n--;
				if (n<=0) {
					n = 0;
					clearInterval(timer)
					that.alertbol = false					
				}				
			},30)
		},
		countDown:function(n,fn){
			var that = this;
			var timer = setInterval(function(){
				n--;
				console.log(n)
				if (n<=0) {
					n=60;
					clearInterval(timer);
					fn&&fn();
				}
				that.num = n;
			},1000)
		}
	},
	watch:{
		'password':function(val,oldVal){
			if (val == "" || val.length<4) {
				this.password_bol = false;
			}else{
				this.password_bol = true;
			}
		},
		'tel':function(val,oldVal){
			var reg = /^1[34578]\d{9}$/;
			this.tel_bol = reg.test(val)
		}
	}
})
</script>
</html>